$color-negrito: #333; //declarando variables
$color-secundario: blue;

.nav-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: $color-negrito; //usando variables
    background-color: aquamarine;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-container {
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: aquamarine;
}

.footer-text {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #333333;
}

a {
    text-decoration: none;
    color: #333;
    margin-left: 15px;
}

.welcome::after {
    border: 1px solid purple;
}

#cuenta {
    color: red;
}

#cuenta:hover {
    color: $color-secundario;
    cursor: pointer;
}

.saludo-container {

    //afecta solo a los elementos dentro de .saludo-container
    h1,
    h2 {
        color: $color-secundario;
    }
}